@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--accent: #ff8d2a;
	--accent-hover: #ffbf88;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #ffffff;
}

.containers {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-hero {
	background-image: url('../public/main/hero.png');
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.bg-project {
	background-image: url('../public/main/bg-about.png');
	/* width: 598px; */
	height: 417px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center right;
}

/* .bg-text {
	position: absolute;
} */

.bg-text {
	background-image: url('../public/partnership/bg-text.svg');
	background-position: center;
	width: 137px;
	height: 137px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	left: 25px;
	right: 0;
	top: -30px;
	z-index: -1;
}

.bg-text-2 {
	background-image: url('../public/partnership/bg-text.svg');
	background-position: center;
	width: 137px;
	height: 137px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* left: px; */
	right: -105px;
	top: -30px;
	z-index: -1;
}

.bg-we {
	background-image: url('../public/we/BG.svg');
	width: 100%;
	height: 110%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
	position: absolute;
}

.grid-project {
	display: grid;
	grid-template-columns: repeat(2, 612px);
	gap: 2rem;
	margin: 0 auto;
}

/* absolute   left-5 h-[9px] w-[90%] bg-accent -z-10 rounded-full  */

.shadow-project {
	box-shadow: 6px 6px 0 0 var(--accent);
}

.shadow-table {
	box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.3),
		-2px -2px 4px 0 rgba(255, 255, 255, 0.3);
}

.bg {
	background: linear-gradient(#d0ddfd, #f5f8ff);
}

.gradient-text {
	display: inline-block;
	/* padding: 20px 40px; Внутренние отступы */
	text-align: center;
	/* font-size: 24px; */
	/* font-weight: bold; */
	/* font-family: Arial, sans-serif; */

	/* Градиент для текста */
	background: linear-gradient(
		135deg,
		#7a96ac 0%,
		#eaffff 18%,
		#c2d4ef 31%,
		#ffffff 49%,
		#d4e5f5 62%,
		#abb8cb 75%,
		#bccad7 95%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; /* Цвет текста - прозрачный */
	text-fill-color: transparent;

	/* Градиент для бордера */

	/* Дополнительные стили */

	background-color: #000;

	color: white; /* Резервный цвет текста */
}
.gradient-border {
	border: 1px solid;
	border-color: linear-gradient(
		135deg,
		#7a96ac 0%,
		#eaffff 18%,
		#c2d4ef 31%,
		#ffffff 49%,
		#d4e5f5 62%,
		#abb8cb 75%,
		#bccad7 95%
	);
	/* border-radius: 38px !important; */
	/* border-image-slice: 1; */
	/* background-origin: border-box;
	background-clip: content-box, border-box; */
}

.bg-header {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.52) 0%,
		rgba(0, 0, 0, 0) 100%
	);
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.shadow-cashback {
	box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.18);
}

.benefit-shadow {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.review-shadow {
	box-shadow: -6px -1px 9.4px 0px rgba(0, 0, 0, 0.25);
}

.grid-cashback {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(269px, 1fr));
	gap: 44px;
	margin: 0 auto;
}

.grid-about {
	display: grid;

	grid-template-columns: repeat(3, 389px);
	gap: 24px;
	margin: 0 auto;
	justify-content: center; /* Горизонтальное выравнивание */
}

@media (max-width: 1024px) {
	.grid-about {
		grid-template-columns: repeat(2, 1fr); /* Две колонки */
	}
}

/* Для экранов шириной 768px и меньше */
@media (max-width: 768px) {
	.grid-about {
		align-content: center;
		grid-template-columns: 1fr; /* Одна колонка */
		gap: 16px; /* Уменьшение промежутка между элементами */
	}
}

@media (max-width: 1200px) {
	.grid-cashback {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(269px, 3fr));
		gap: 44px;
	}
}

@media (max-width: 720px) {
	.grid-cashback {
		gap: 16px;
	}
}

@media (max-width: 320px) {
	.grid-cashback {
		/* grid-template-columns: repeat(auto-fit, minmax(269px, 4fr)); */

		gap: 10px;
	}
}
